<div class="col-12 jumpbotronout">
  <div class="mt-4 p-5 text-white jumbotron">
    <h1 class="hotstitle mb-5">Sell and buy retro games !</h1>
    <p>About Us</p>
    <p>
      Welcome to our website, where we specialize in buying and selling retro
      DOS games.
    </p>

    <p>
      We have a passion for vintage gaming and believe that these classic titles
      should not be forgotten. Our goal is to preserve the memories and
      experiences of these games for future generations to enjoy.
    </p>
    <p>
      We have a team of experts who have extensive knowledge and experience in
      the retro gaming industry. We ensure that each game is in good condition
      and authentic before adding it to our collection.
    </p>
    <p>
      We also offer a fair price for any games that you would like to sell to
      us.
    </p>
    <p>
      We believe that these fun experiences should be accessible to everyone,
      regardless of age or background.
    </p>
    <p>
      Our website offers a convenient platform for you to buy and sell retro DOS
      games. Whether you're a collector or just looking to relive some of your
      childhood memories, we have something for everyone.
    </p>
    <p>
      Thank you for choosing us, and we hope you have a great experience on our
      website.
    </p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" routerLink="/herolist">Log in / Sign up</button>
    </div>
  </div>
</div>
