<!-- <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Doom
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body text-white">
        <p>Release Date: <small>1989</small></p>
        <p>Developer: <small>Broderbund Software</small></p>
        <p>Price: <small>5$</small></p>
        <p>
          Descruption:
          <small
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
            similique quasi soluta aliquam ducimus, assumenda distinctio sequi
            sint accusamus aspernatur, in porro excepturi corporis maxime
            eligendi optio iure, sunt non.</small
          >
        </p>
        <button class="buybutton" type="button">Buy Now!</button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Wolfenstein 3D
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body text-white">
        <p>Release Date: <small>1992</small></p>
        <p>Developer: <small>id Software</small></p>
        <p>Price: <small>6$</small></p>
        <p>
          Descruption:
          <small
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
            similique quasi soluta aliquam ducimus, assumenda distinctio sequi
            sint accusamus aspernatur, in porro excepturi corporis maxime
            eligendi optio iure, sunt non.</small
          >
        </p>
        <button class="buybutton" type="button">Buy Now!</button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Commander Keen
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body text-white">
        <p>Release Date: <small>1990</small></p>
        <p>Developer: <small>id Software</small></p>
        <p>Price: <small>8$</small></p>
        <p>
          Descruption:
          <small
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
            similique quasi soluta aliquam ducimus, assumenda distinctio sequi
            sint accusamus aspernatur, in porro excepturi corporis maxime
            eligendi optio iure, sunt non.</small
          >
        </p>
        <button class="buybutton" type="button">Buy Now!</button>
      </div>
    </div>
  </div>
</div> -->
