button {
  font-size: 1.5rem;
}

.accordion-button {
  background-color: #ddd;
}

.accordion-body {
  font-size: 1.3rem;
  background-color: #00a;
  border: 2px solid #aaa;
  font-size: 1.5rem;
}

small {
  font-size: 1.2rem;
}

.buybutton {
  color: #fff;
  background-color: #005;
  &:hover {
    background-color: #004;
  }
}
