<div class="col-12">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th *ngFor="let col of getFilteredCols()">
          {{ col.text }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of list$ | async">
        <td *ngFor="let col of getFilteredCols()">
          {{ game[col.key] }}
        </td>
        <td class="table-active">
          <button class="buybutton" type="button">Buy Now!</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
