<div class="col-12 jumpbotronout">
  <div class="mt-4 p-5 text-white jumbotron">
    <h1 class="hotstitle mb-5">Sell and buy retro games !</h1>
    <p>Welcome!</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam
      nesciunt quia cupiditate voluptatem nihil error beatae illo! Dolorem ullam
      enim accusamus exercitationem eveniet deleniti consectetur nisi dolore,
      suscipit nobis?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur cum
      aut saepe esse accusantium labore expedita aperiam harum magni, laborum
      molestiae minima voluptate nobis ratione earum? Distinctio minus ea
      eligendi.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quae
      tempora nobis, quaerat repellendus ducimus, architecto eaque impedit dicta
      atque ipsum recusandae quas voluptatibus? Recusandae magni cumque
      voluptate mollitia odio?
    </p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" routerLink="/herolist">Log in / Sign up</button>
    </div>
  </div>
</div>
