.jumbotron {
  background-color: #00a;
  border: 2px solid #aaa;
  font-size: 1.5rem;
}

.jumpbotronout {
  background-color: #00a;
  padding: 0.1px 5px 4px 5px;
}

button {
  color: #fff;
  background-color: #005;
}
